/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
.idea
Envoy.blade.php
app/storage/screenshots
!app/storage/screenshots/.gitkeep
!app/storage/screenshots/no_image.jpg
